#top-bar {
  background-color: black;
  overflow: hidden;
}
#top-container {
  float: left;
  width: 100%;
  position: relative;
}

#main {
  background-color: white;
  padding: 2% 20%;
  padding-left: 10%
}
#imgofastray {
  height: auto;
  width: 20%;
  object-fit: contain;
  float: left;
  border-radius: 30%;
  margin: 5%;
}