#top-bar {
  background-color: black;
  overflow: hidden;
}
#top-container {
  float: left;
  width: 100%;
  position: relative;
}
.img {
  height: 50%;
  width: 50%;
}
#main {
  background-color: white;
  padding: 2% 20%;
  padding-left: 10%
}